body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
a,
button,
input,
textarea {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  outline-width: 0 !important;
  outline: none;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ececec;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ececec;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #ececec;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #ececec;
}
a,
a:hover {
  text-decoration: none !important;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button.btn {
  font-size: 20px;
  font-weight: 300;
  border-radius: 3px;
  padding: 8px 30px;
}
@media only screen and (max-width: 768px) {
  button.btn {
    font-size: 18px;
    padding: 6px 15px;
  }
}
button.btn:focus {
  box-shadow: none;
}
button.btn.btn-transparent {
  background: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
button.btn.btn-transparent:hover,
button.btn.btn-transparent:focus {
  background: #00D561;
}
button.btn.btn-empty {
  background: #FFFFFF;
  color: #2E2D2D;
  border: 1px solid #00D561;
}
button.btn.btn-primary {
  background: #00D561;
  border: 1px solid #00D561;
  color: #FFFFFF;
}
button.btn.btn-primary:hover,
button.btn.btn-primary:focus {
  background: #EC204F;
  border: 1px solid #EC204F;
}
button.btn.btn-social {
  background: #2E629F;
  color: #FFFFFF;
}
button.btn.btn-social:hover,
button.btn.btn-social:focus {
  background: #28568b;
}
button.btn.btn-upload {
  font-size: 14px;
  color: #9B9B9B;
  background: #DDDDDD;
  border: 1px solid #E6E5E5;
}
button.btn.btn-upload:focus,
button.btn.btn-upload:hover {
  background: #00D561;
  color: #FFFFFF;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1060px;
  padding: 0 30px;
}
.wrapper.large {
  max-width: 1260px;
}
.default {
  position: relative;
  overflow: hidden;
}
.generic-page {
  position: relative;
  padding: 90px 0;
}
.generic-page .title h3 {
  font-weight: 400;
}
.title {
  text-align: center;
  padding-bottom: 70px;
}
.title h3 {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .title {
    padding-bottom: 30px;
  }
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
h1 {
  font-size: 59px;
  padding: 0 0 30px 0;
}
h2 {
  font-size: 40px;
  padding: 0 0 15px 0;
  font-weight: 500;
}
h3 {
  font-size: 35px;
  padding: 0 0 20px 0;
}
h4 {
  font-size: 27px;
  padding: 0 0 20px 0;
  line-height: 37px;
}
@media only screen and (max-width: 768px) {
  h4 {
    line-height: normal;
    font-size: 21px;
  }
}
h5 {
  font-size: 21px;
  line-height: normal;
}
h6 {
  font-size: 19px;
  line-height: 29px;
}
p {
  font-size: 14px;
  line-height: 23px;
  padding: 0 0 20px 0;
}
.dropdown-menu {
  border: 0;
}
.dropdown-menu li a {
  padding: 8px 20px;
}
footer.doc-footer {
  position: relative;
  overflow: hidden;
  background: #4A4A4A;
}
@media only screen and (max-width: 768px) {
  footer.doc-footer {
    text-align: center;
  }
}
footer.doc-footer h3,
footer.doc-footer h6,
footer.doc-footer p {
  color: #FFFFFF;
}
footer.doc-footer .upper-footer {
  position: relative;
  overflow: hidden;
  padding: 70px 0 30px 0;
}
@media only screen and (max-width: 768px) {
  footer.doc-footer .upper-footer {
    padding: 45px 0;
  }
}
footer.doc-footer .upper-footer .nav-social {
  position: relative;
  overflow: hidden;
  padding: 15px 0;
}
@media only screen and (max-width: 768px) {
  footer.doc-footer .upper-footer .nav-social {
    padding-bottom: 45px;
  }
}
footer.doc-footer .upper-footer .nav-social li {
  display: inline-block;
  margin-right: 20px;
}
footer.doc-footer .upper-footer .nav-social li:last-child {
  margin-right: 0;
}
footer.doc-footer .upper-footer .nav-social li a {
  color: #FFFFFF;
}
footer.doc-footer .upper-footer .nav-social li a:hover {
  color: #FFE200;
}
footer.doc-footer .upper-footer .newsletter {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 30px 0 50px;
}
@media only screen and (max-width: 768px) {
  footer.doc-footer .upper-footer .newsletter {
    padding: 0 0 30px 0;
  }
}
footer.doc-footer .upper-footer .newsletter input[type="email"] {
  vertical-align: top;
  background: none;
  border: 0;
  border-bottom: 2px solid #FFE200;
  color: #FFFFFF;
  font-size: 21px;
  text-align: center;
  width: 60%;
  margin-right: 15px;
}
@media only screen and (max-width: 768px) {
  footer.doc-footer .upper-footer .newsletter input[type="email"] {
    font-size: 20px;
  }
}
footer.doc-footer .upper-footer .newsletter input[type="email"]:focus {
  border-bottom: 2px solid #FFFFFF;
}
footer.doc-footer .upper-footer .newsletter button[type="submit"] {
  padding: 0 5px;
  background: none;
  border: 0;
  font-size: 28px;
  color: #FFE200;
}
footer.doc-footer .upper-footer .newsletter button[type="submit"]:hover {
  color: #FFFFFF;
}
footer.doc-footer .copyright {
  position: relative;
  background: #2E2D2D;
  padding: 15px 0;
  text-align: center;
}
footer.doc-footer .copyright::after {
  position: absolute;
  display: block;
  content: "";
  left: 30px;
  bottom: 0;
  width: 82px;
  height: 82px;
  background: url("../assets/vectors/ico-trashrobot.svg") top center no-repeat;
}
@media only screen and (max-width: 768px) {
  footer.doc-footer .copyright::after {
    background-size: auto 100%;
    background-position: 0 22px;
  }
}
@media only screen and (max-width: 480px) {
  footer.doc-footer .copyright::after {
    display: none;
  }
}
footer.doc-footer .copyright span {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.58;
}
