body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
a,
button,
input {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  outline-width: 0;
}
a,
a:hover {
  text-decoration: none !important;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}
.wrapper.large {
  max-width: 1200px;
}
.default {
  position: relative;
  overflow: hidden;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
h3 {
  font-size: 35px;
  padding: 0 0 20px 0;
}
h6 {
  font-size: 19px;
  line-height: 29px;
}
footer.doc-footer {
  position: relative;
  overflow: hidden;
  background: #4A4A4A;
}
footer.doc-footer h3,
footer.doc-footer h6,
footer.doc-footer p {
  color: #FFFFFF;
}
footer.doc-footer .doc-footer-content {
  position: relative;
  overflow: hidden;
  padding: 30px 0 15px 0;
}
footer.doc-footer .doc-footer-content .nav-social {
  position: relative;
  overflow: hidden;
  padding: 15px 0;
}
footer.doc-footer .doc-footer-content .nav-social li {
  display: inline-block;
  margin-right: 20px;
}
footer.doc-footer .doc-footer-content .nav-social li:last-child {
  margin-right: 0;
}
footer.doc-footer .doc-footer-content .nav-social li a {
  color: #FFFFFF;
}
footer.doc-footer .doc-footer-content .newsletter {
  position: relative;
  overflow: hidden;
  padding: 15px 0;
}
footer.doc-footer .doc-footer-content .newsletter input[type="email"] {
  vertical-align: top;
  background: none;
  border: 0;
  border-bottom: 2px solid #FFE200;
  color: #FFFFFF;
  font-size: 25px;
  text-align: center;
  width: 60%;
  margin-right: 15px;
}
footer.doc-footer .doc-footer-content .newsletter button[type="submit"] {
  padding: 0 5px;
  background: none;
  border: 0;
  font-size: 28px;
  color: #FFE200;
}
footer.doc-footer .copyright {
  position: relative;
  background: #2E2D2D;
  padding: 15px 0;
  text-align: center;
}
footer.doc-footer .copyright::after {
  position: absolute;
  display: block;
  content: "";
  left: 30px;
  bottom: 0;
  width: 82px;
  height: 82px;
  background: url("../assets/vectors/ico-trashrobot.svg") top center;
}
footer.doc-footer .copyright span {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.58;
}
