body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
a,
button,
input,
textarea {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  outline-width: 0 !important;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ececec;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ececec;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #ececec;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #ececec;
}
a,
a:hover {
  text-decoration: none !important;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button.btn {
  font-size: 20px;
  font-weight: 300;
  border-radius: 3px;
  padding: 8px 30px;
}
@media only screen and (max-width: 768px) {
  button.btn {
    font-size: 18px;
    padding: 6px 15px;
  }
}
button.btn:focus {
  box-shadow: none;
}
button.btn.btn-transparent {
  background: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
button.btn.btn-transparent:hover,
button.btn.btn-transparent:focus {
  background: #00D561;
}
button.btn.btn-empty {
  background: #FFFFFF;
  color: #2E2D2D;
  border: 1px solid #00D561;
}
button.btn.btn-primary {
  background: #00D561;
  border: 1px solid #00D561;
  color: #FFFFFF;
}
button.btn.btn-primary:hover,
button.btn.btn-primary:focus {
  background: #EC204F;
  border: 1px solid #EC204F;
}
button.btn.btn-social {
  background: #2E629F;
  color: #FFFFFF;
}
button.btn.btn-social:hover,
button.btn.btn-social:focus {
  background: #28568b;
}
button.btn.btn-upload {
  font-size: 14px;
  color: #9B9B9B;
  background: #DDDDDD;
  border: 1px solid #E6E5E5;
}
button.btn.btn-upload:focus,
button.btn.btn-upload:hover {
  background: #00D561;
  color: #FFFFFF;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1060px;
  padding: 0 30px;
}
.wrapper.large {
  max-width: 1260px;
}
.default {
  position: relative;
  overflow: hidden;
}
.generic-page {
  position: relative;
  padding: 90px 0;
}
.generic-page .title h3 {
  font-weight: 400;
}
.title {
  text-align: center;
  padding-bottom: 70px;
}
.title h3 {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .title {
    padding-bottom: 30px;
  }
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
h1 {
  font-size: 59px;
  padding: 0 0 30px 0;
}
h2 {
  font-size: 40px;
  padding: 0 0 15px 0;
  font-weight: 500;
}
h3 {
  font-size: 35px;
  padding: 0 0 20px 0;
}
h4 {
  font-size: 27px;
  padding: 0 0 20px 0;
  line-height: 37px;
}
@media only screen and (max-width: 768px) {
  h4 {
    line-height: normal;
    font-size: 21px;
  }
}
h5 {
  font-size: 21px;
  line-height: normal;
}
h6 {
  font-size: 19px;
  line-height: 29px;
}
p {
  font-size: 14px;
  line-height: 23px;
  padding: 0 0 20px 0;
}
.dropdown-menu {
  border: 0;
}
.dropdown-menu li a {
  padding: 8px 20px;
}
.grid-bubble {
  position: relative;
  padding: 15px;
  float: left;
  width: 20%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .grid-bubble {
    width: 50%;
  }
}
.grid-bubble header .avatar {
  position: relative;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.2s ease-in-out 0s;
  border: 1px solid #F4F4F4;
}
.grid-bubble header .avatar:hover {
  transform: scale(1.05);
}
@media only screen and (min-width: 1200px) {
  .grid-bubble header .avatar {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .grid-bubble header .avatar {
    width: 130px;
    height: 130px;
  }
}
.grid-bubble header .avatar a {
  display: block;
}
.grid-bubble header .avatar a img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.grid-bubble header .avatar .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00D561;
  text-align: center;
}
.grid-bubble header .avatar .overlay a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 150px;
}
.grid-bubble header h4 {
  position: relative;
  display: block;
  padding: 15px 0 0 0;
}
.grid-bubble header h4 a {
  position: relative;
  display: inline-block;
  color: #2E2D2D;
}
.grid-bubble header h4 a:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 2px;
  background: none;
  transition: all 0.2s ease-in-out 0s;
}
.grid-bubble footer {
  position: absolute;
  display: none;
  box-sizing: border-box;
  overflow: hidden;
  padding: 245px 15px 20px 15px;
  border-radius: 8px;
  background: #1950FF;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out 0s;
}
@media only screen and (max-width: 768px) {
  .grid-bubble footer {
    padding-top: 210px;
  }
}
.grid-bubble footer p {
  font-size: 12px;
  line-height: 18px;
}
.grid-bubble footer ul li {
  position: relative;
  overflow: hidden;
  padding: 5px 0;
  font-weight: 400;
}
.grid-bubble footer ul li span {
  display: block;
}
.grid-bubble footer ul li span:first-child {
  float: left;
}
.grid-bubble footer ul li span:last-child {
  float: right;
}
.grid-bubble:hover header .avatar {
  z-index: 4;
  border: 1px solid transparent;
}
.grid-bubble:hover header h4 {
  z-index: 4;
}
.grid-bubble:hover header h4 a {
  color: #FFFFFF;
}
.grid-bubble:hover header h4 a:after {
  background: #FFFFFF;
}
.grid-bubble:hover header h4 a:hover {
  color: #00D561;
}
.grid-bubble:hover header h4 a:hover:after {
  background: #00D561;
}
.grid-bubble:hover footer {
  display: block;
}
.grid-simple-bubble {
  position: relative;
  padding: 15px;
  float: left;
  width: 20%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .grid-simple-bubble {
    width: 50%;
  }
}
.grid-simple-bubble header .avatar {
  position: relative;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.2s ease-in-out 0s;
  border: 1px solid #F4F4F4;
}
.grid-simple-bubble header .avatar:hover {
  transform: scale(1.05);
  border: 1px solid #9B9B9B;
}
@media only screen and (min-width: 1200px) {
  .grid-simple-bubble header .avatar {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .grid-simple-bubble header .avatar {
    width: 130px;
    height: 130px;
  }
}
.grid-simple-bubble header .avatar a {
  display: block;
}
.grid-simple-bubble header .avatar a img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.grid-simple-bubble header .avatar .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00D561;
  text-align: center;
  transition: all 0.2s ease-in-out 0s;
  opacity: 0;
}
.grid-simple-bubble header .avatar .overlay a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 150px;
}
.grid-simple-bubble header h4 {
  position: relative;
  display: block;
  padding: 15px 0 0 0;
}
.grid-simple-bubble header h4 a {
  position: relative;
  display: inline-block;
  color: #2E2D2D;
}
.grid-simple-bubble:hover .avatar .overlay {
  opacity: 1;
}
