@import "config.less";
@import "common.less";

header.doc-header {
  .default;

  @logo-height: 50px;

  .top-bar {
    padding: @space-sm 0;
    text-align: right;

    .logo {
      background: url("../assets/vectors/logo-junkbot.svg") left center no-repeat;
      background-size: auto 100%;
      height: @logo-height;
    }

    .main-nav,
    .sec-actions {
      .default;
      display: inline-block;
    }

    .main-nav {
      ul {
        li {
          display: inline-block;
          padding: 0 @space-sm;

          @underline-width: 2px;

          a {
            display: block;
            border-bottom: @underline-width solid transparent;
            font-size: @typo-nav;
            color: @mud-grey;

            &:hover {
              border-bottom: @underline-width solid @alien-green;
            }
          }
        }
      }
    }

    .sec-actions {
      .shopping-cart {
        margin: 0 @space-md*2 0 @space-md;
      }
    }

  }

  .menu-bar {
    background: @mud-grey;
    padding: @space-sm 0;
    text-align: center;

    .sec-nav {
      li {
        display: inline-block;
        padding: 0 @space-sm;

        @underline-width: 1px;

        a {
          font-size: @typo-nav;
          color: @white;
          display: block;
          border-bottom: @underline-width solid transparent;

          &:hover {
            border-bottom: @underline-width solid @white;
          }
        }
      }
    }
  }

}