body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
a,
button,
input,
textarea {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  outline-width: 0 !important;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ececec;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ececec;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #ececec;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #ececec;
}
a,
a:hover {
  text-decoration: none !important;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button.btn {
  font-size: 20px;
  font-weight: 300;
  border-radius: 3px;
  padding: 8px 30px;
}
@media only screen and (max-width: 768px) {
  button.btn {
    font-size: 18px;
    padding: 6px 15px;
  }
}
button.btn:focus {
  box-shadow: none;
}
button.btn.btn-transparent {
  background: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
button.btn.btn-transparent:hover,
button.btn.btn-transparent:focus {
  background: #00D561;
}
button.btn.btn-empty {
  background: #FFFFFF;
  color: #2E2D2D;
  border: 1px solid #00D561;
}
button.btn.btn-primary {
  background: #00D561;
  border: 1px solid #00D561;
  color: #FFFFFF;
}
button.btn.btn-primary:hover,
button.btn.btn-primary:focus {
  background: #EC204F;
  border: 1px solid #EC204F;
}
button.btn.btn-social {
  background: #2E629F;
  color: #FFFFFF;
}
button.btn.btn-social:hover,
button.btn.btn-social:focus {
  background: #28568b;
}
button.btn.btn-upload {
  font-size: 14px;
  color: #9B9B9B;
  background: #DDDDDD;
  border: 1px solid #E6E5E5;
}
button.btn.btn-upload:focus,
button.btn.btn-upload:hover {
  background: #00D561;
  color: #FFFFFF;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1060px;
  padding: 0 30px;
}
.wrapper.large {
  max-width: 1260px;
}
.default {
  position: relative;
  overflow: hidden;
}
.generic-page {
  position: relative;
  padding: 90px 0;
}
.generic-page .title h3 {
  font-weight: 400;
}
.title {
  text-align: center;
  padding-bottom: 70px;
}
.title h3 {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .title {
    padding-bottom: 30px;
  }
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
h1 {
  font-size: 59px;
  padding: 0 0 30px 0;
}
h2 {
  font-size: 40px;
  padding: 0 0 15px 0;
  font-weight: 500;
}
h3 {
  font-size: 35px;
  padding: 0 0 20px 0;
}
h4 {
  font-size: 27px;
  padding: 0 0 20px 0;
  line-height: 37px;
}
@media only screen and (max-width: 768px) {
  h4 {
    line-height: normal;
    font-size: 21px;
  }
}
h6 {
  font-size: 19px;
  line-height: 29px;
}
p {
  font-size: 14px;
  line-height: 23px;
  padding: 0 0 20px 0;
}
.dropdown-menu {
  border: 0;
}
.dropdown-menu li a {
  padding: 8px 20px;
}
header.doc-header .logo {
  background: url("../assets/vectors/logo-junkbot.svg") top left no-repeat;
  float: left;
  width: 152px;
  height: 40px;
}
header.doc-header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
header.doc-header .header-compact {
  position: relative;
  overflow: hidden;
  padding: 30px 15px;
  background: #FFFFFF;
  border-bottom: 4px solid #F4F4F4;
}
header.doc-header .header-compact .nav-toggle {
  float: right;
  border: 0;
  padding: 5px;
  background: none;
  color: #00D561;
}
header.doc-header .header-compact .nav-toggle:hover,
header.doc-header .header-compact .nav-toggle:focus {
  color: #FFE200;
}
header.doc-header .header-container {
  position: relative;
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container {
    display: none;
    position: fixed;
    padding: 90px 0;
    overflow: auto;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4A4A4A;
  }
  header.doc-header .header-container.displayed {
    display: block;
  }
}
header.doc-header .header-container .nav-bar {
  position: relative;
  overflow: hidden;
  padding: 30px 0;
  background: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .nav-bar {
    background: #4A4A4A;
  }
}
header.doc-header .header-container .nav-bar .btn-close {
  position: fixed;
  z-index: 30;
  top: 30px;
  left: 50%;
  border: 0;
  padding: 5px;
  margin-left: -17px;
  background: none;
  color: #FFFFFF;
}
header.doc-header .header-container .nav-bar .btn-close:hover,
header.doc-header .header-container .nav-bar .btn-close:focus {
  color: #00D561;
}
header.doc-header .header-container .nav-bar .nav-menu {
  float: right;
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .nav-bar .nav-menu {
    text-align: center;
    float: none;
  }
}
header.doc-header .header-container .nav-bar .nav-menu .main-nav,
header.doc-header .header-container .nav-bar .nav-menu .e-commerce,
header.doc-header .header-container .nav-bar .nav-menu .user-profile {
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .nav-bar .nav-menu .main-nav,
  header.doc-header .header-container .nav-bar .nav-menu .e-commerce,
  header.doc-header .header-container .nav-bar .nav-menu .user-profile {
    display: block;
  }
}
header.doc-header .header-container .nav-bar .nav-menu .main-nav li {
  display: inline-block;
  padding: 0 15px;
}
@media only screen and (min-width: 1200px) {
  header.doc-header .header-container .nav-bar .nav-menu .main-nav li {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .nav-bar .nav-menu .main-nav li {
    display: block;
    padding: 5px 0;
  }
}
header.doc-header .header-container .nav-bar .nav-menu .main-nav li:last-child {
  display: none;
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .nav-bar .nav-menu .main-nav li:last-child {
    display: inline-block;
  }
}
header.doc-header .header-container .nav-bar .nav-menu .main-nav li a {
  display: block;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  font-size: 18px;
  color: #4A4A4A;
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .nav-bar .nav-menu .main-nav li a {
    border: 0 !important;
    color: #00D561;
  }
}
header.doc-header .header-container .nav-bar .nav-menu .main-nav li a:hover,
header.doc-header .header-container .nav-bar .nav-menu .main-nav li a .active {
  border-bottom: 2px solid #00D561;
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .nav-bar .nav-menu .main-nav li a:hover,
  header.doc-header .header-container .nav-bar .nav-menu .main-nav li a .active {
    color: #FFE200;
  }
}
header.doc-header .header-container .nav-bar .nav-menu .e-commerce {
  margin: 0 15px;
}
@media only screen and (min-width: 1200px) {
  header.doc-header .header-container .nav-bar .nav-menu .e-commerce {
    margin: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .nav-bar .nav-menu .user-profile {
    position: fixed;
    z-index: 20;
    bottom: 30px;
    left: 50%;
    margin-left: -110px;
  }
}
header.doc-header .header-container .nav-bar .nav-menu .user-profile button.btn {
  padding: 5px 30px;
  border-radius: 20px;
  font-size: 18px;
}
header.doc-header .header-container .nav-bar .nav-menu .user-profile button.btn.btn-empty {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
header.doc-header .header-container .nav-bar .nav-menu .user-profile button.btn.btn-primary {
  margin-left: -20px;
}
header.doc-header .header-container .nav-bar .nav-menu .user-profile a {
  color: #00D561;
  font-size: 18px;
}
header.doc-header .header-container .nav-bar .nav-menu .user-profile a:hover {
  color: #EC204F;
}
header.doc-header .header-container .sub-header {
  position: relative;
  background: #4A4A4A;
  text-align: center;
  padding: 15px 0;
}
header.doc-header .header-container .sub-header .sec-nav li {
  display: inline-block;
  padding: 0 30px;
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .sub-header .sec-nav li {
    display: block;
    padding: 5px 0;
  }
}
header.doc-header .header-container .sub-header .sec-nav li a {
  font-size: 18px;
  color: #FFFFFF;
  display: block;
  position: relative;
}
header.doc-header .header-container .sub-header .sec-nav li a:after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background: #FFFFFF;
  bottom: -4px;
  left: 15%;
  transition: all 0.2s ease-in-out 0s;
  opacity: 0;
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .sub-header .sec-nav li a:after {
    display: none;
  }
}
header.doc-header .header-container .sub-header .sec-nav li a:hover:after,
header.doc-header .header-container .sub-header .sec-nav li a .active:after {
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  header.doc-header .header-container .sub-header .sec-nav li a:hover,
  header.doc-header .header-container .sub-header .sec-nav li a .active {
    color: #00D561;
  }
}
