body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
a,
button,
input {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  outline-width: 0;
}
a,
a:hover {
  text-decoration: none !important;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}
.wrapper.large {
  max-width: 1200px;
}
.default {
  position: relative;
  overflow: hidden;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
h3 {
  font-size: 35px;
  padding: 0 0 20px 0;
}
h6 {
  font-size: 19px;
  line-height: 29px;
}
header.doc-header {
  position: relative;
  overflow: hidden;
}
header.doc-header .top-bar {
  padding: 15px 0;
  text-align: right;
}
header.doc-header .top-bar .logo {
  background: url("../assets/vectors/logo-junkbot.svg") left center no-repeat;
  background-size: auto 100%;
  height: 50px;
}
header.doc-header .top-bar .main-nav,
header.doc-header .top-bar .sec-actions {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
header.doc-header .top-bar .main-nav ul li {
  display: inline-block;
  padding: 0 15px;
}
header.doc-header .top-bar .main-nav ul li a {
  display: block;
  border-bottom: 2px solid transparent;
  font-size: 18px;
  color: #4A4A4A;
}
header.doc-header .top-bar .main-nav ul li a:hover {
  border-bottom: 2px solid #00D561;
}
header.doc-header .top-bar .sec-actions .shopping-cart {
  margin: 0 40px 0 20px;
}
header.doc-header .menu-bar {
  background: #4A4A4A;
  padding: 15px 0;
  text-align: center;
}
header.doc-header .menu-bar .sec-nav li {
  display: inline-block;
  padding: 0 15px;
}
header.doc-header .menu-bar .sec-nav li a {
  font-size: 18px;
  color: #FFFFFF;
  display: block;
  border-bottom: 1px solid transparent;
}
header.doc-header .menu-bar .sec-nav li a:hover {
  border-bottom: 1px solid #FFFFFF;
}
